body{
    color:rgb(0,0,255)
}

header .title{
    text-align: center;
    width: 100%;
    height: auto;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

#mensagem{
    text-align: center;
    width: 90vw;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
    grid-template-areas:
        '1 2 3'
        '4 5 6'
        '7 8 9';
    height: 50%;
    width: auto;
}

.square{
    font-size: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 13vw;
    height: 13vw;
}

.reset{
    margin: 10px 30vw 0 30vw;
    color: rgb(0, 100,  100);
}